   $black: #000000;
   $white: #ffffff;
   $text-body: #727272;
   $primary: #d1f801;
   $secondary: #080807;
   //    $text-5C5E61: #5c5e61;
   $line: rgba(255, 255, 255, 0.1);
   //    $Text-FFA800: #ffa800;
   //    $Color-F5F5F5: #f5f5f5;
   $light-bg: #0f0f0f;