@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin section-title {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 32px;
    text-transform: capitalize;
}

@mixin section {
    margin-top: 100px;
    margin-bottom: 100px;
}